.footer {
  position: fixed;

  width: 100%;
  bottom: 0;
  height: 40px;
  background-color: $primaryColor;
  a {
    text-decoration: none;
    color: $secondaryColor;
  }
}

// Need to make footer stay at the bottom of content
