@import "../variables";

.header {
  font-family: $fontFamily;
  width: 100%;
  background-color: $primaryColor;
  a {
    text-decoration: none;
    color: $lightColor;
    display: inline-block;
    padding: 1em;
    &:active {
      background-color: $primaryColor;
    }
    &:hover {
      color: $secondaryColor;
    }
  }

  .login {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
  }

  button {
    background: Transparent;
    border: none;
    color: $lightColor;
    font-weight: bold;
    &:hover {
      color: $secondaryColor;
    }
  }
}
