@import "../variables";

.login-form {
  background-color: $primaryColor;
  margin: auto;
  text-align: center;
  outline-style: solid;
  outline-color: $lightColor;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  top: 8em;
  height: 500px;
  width: 500px;

  h1 {
    top: 2em;
    font-family: "Helvetica";
    color: $lightColor;
  }

  button,
  input#submit {
    top: 2em;
    border-radius: 12px;
    border: none;
    color: $lightColor;
    background-color: $loginPrimaryColor;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 32px;
    margin: 5px;
    &:hover {
      background-color: $loginSecondaryColor;
      color: $lightColor;
      outline-style: solid;
      outline-color: $primaryColor;
    }
  }

  .login-text {
    height: 50px;
    width: 75%;
    padding-left: 10px;
  }
  input {
    margin-bottom: 10px;
  }
}

form {
  top: 8em;
}

.register-form {
  @extend .login-form;
  form {
    top: 6em;
  }
}
